@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

html {
  font-size: 62.5%; /*10px*/
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;

  font-family: "open Sans", sans-serif;
  font-weight: 400;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: hsl(257, 40%, 49%);
  background-image: url("images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo-container .logo {
  margin-top: 2rem;
  width: 20rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.cards .illustration .illustration__img {
  max-width: 100%;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  flex: 1;
}
.features h2 {
  font-family: "poppins", "open Sans", "sans-serif";
  font-size: clamp(3rem, 8vw, 4rem);
  font-weight: 600;
  letter-spacing: 1.5px;
}
.features p {
  font-size: clamp(1.5rem, 8vw, 1.8rem);
  line-height: 3rem;
}
.features button {
  cursor: pointer;
  width: 18rem;
  padding: 1.8rem;

  color: hsl(257, 40%, 49%);
  font-size: 1.8rem;

  border-radius: 5rem;
  border: none;
  outline: none;
}
.features button:hover {
  background-color: hsl(300, 85%, 59%);
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.links {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.link {
  padding: 1rem;
  border: 2px solid white;
  border-radius: 5rem;
  cursor: pointer;
}
.link:hover {
  border-color: hsl(300, 85%, 59%);
  color: hsl(300, 85%, 59%);
}

@media only screen and (max-width: 1140px) {
  header {
    margin-bottom: 5rem;
  }
  .cards {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .features {
    text-align: center;
  }

  body {
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    /* background-position: top; */
    background-position-y: -32rem;
    background-position-x: -15rem;
    background-size: contain;
  }
  .features button {
    margin: 0 auto;
    width: 50%;
  }
}
